<!DOCTYPE html>
<html>
  <head>
    <title>Team 2</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='indexstyle.css') }}">

  </head>
  <body>
    <header>
      <a href="/">
        <p>Capstone Design Team Project</p>
      </a>
      <p class="subtitle">Time Stamp</p>
    </header>

    <hr>

    <section>
          <form action="/timestamp" method="post">
              <div class="input">
                <table class="input_table">
                  <tr>
                    <td class="url_cn">
                      <select name="language" id="input_lan">
                        <option value="en">En</option>
                        <option value="ko">Ko</option>
              				</select>
                      <input id="input_url" type="url" name="url" placeholder="Type Youtube URL">
                      <input id="input_cn" type="text" name="cluster_num" placeholder="Cluster NO.">
                    </td>
                    <td class="button"><input type="image"src="../static/pngwing.com.png" border="5" width="50" alt="제출 버튼"></td>
                  </tr>
                </table>
              </div>
          </form>
    </section>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <!-- Do something with the message -->
            {{ message }}

        {% endfor %}
    {% endif %}
    {% endwith %}
    <footer>
       Copyright (c) 2020 SungKyunKwan University, Capstone Design, Team 2
    </footer>
  </body>
</html>
