<!DOCTYPE html>
<html>
  <head>
    <title>Team 2</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="indexstyle.css">

  </head>
  <body>
    <header>
      <a href="TimeStamp.html">
        <p>Capstone Design Team Project</p>
      </a>
      <p class="subtitle">Time Stamp</p>
    </header>

    <hr>

    <section>
          <form action="TimeStamp.html" method="post">
              <div class="input">
                <table class="input_table">
                  <tr>
                    <td class="url_cn">
                      <input id="input_url" type="url" name="url" placeholder="Type Youtube URL">
                      <input id="input_cn" type="text" name="cluster_num" placeholder="Cluster NO.">
                    </td>
                    <td class="button"><input type="image"src="pngwing.com.png" border="5" width="50" alt="제출 버튼"></td>
                  </tr>
                </table>
              </div>
          </form>
    </section>
    <footer>
       Copyright (c) 2020 SungKyunKwan University, Capstone Design, Team 2
    </footer>
  </body>
</html>
