<!DOCTYPE html>
<html>
  <head>
    <title>Team 2 - Capstone Design</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
    <header>
      <a href="/">
        <p>Capstone Design Team Project</p>
      </a>
      <p class="subtitle">Time Stamp</p>
    </header>

    <hr>

    <section>
        <div class="input">
          <form action="/timestamp" method="post">
                <table class="input_table">
                  <tr>
                    <td>
                        <select name="language" id="input_lan">
                          <option value="en">En</option>
                          <option value="ko">Ko</option>
                				</select>
                        <input id="input_url" type="url" name="url" placeholder="Type Youtube URL">
                        <input id="input_cn" type="text" name="cluster_num" placeholder="Cluster NO.">
                    </td>
                    <td class="button"><input type="image"src="../static/pngwing.com.png" border="5" width="30" alt="제출 버튼"></td>
                  </tr>
                </table>
          </form>
        </div>

        <div class="body">
          <div class="side_left">
            <p class="left_title">YouTube</p>
            <div class="my_box">
              <div class="mybox_text_left">
		      <iframe width="100%" height="100%" src={{video|safe}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
              </div>
            </div>
          </div>

          <div class="side_right">
            <p class="left_title">TimeStamp</p>
            <div class="my_box">
              <div class="mybox_text_right">
                {{ result|safe }}
              </div>
            </div>
            <!--
            <div class="side_right_box">
              <p class="right_title">Comment about Result</p>
              <div class="form">
                <form>
                  <select name="number">
                    <option value="5">5</option>
                    <option value="4.5">4.5</option>
                    <option value="4">4</option>
                    <option value="3.5">3.5</option>
                    <option value="3">3</option>
                    <option value="2.5">2.5</option>
                    <option value="2">2</option>
                    <option value="1.5">1.5</option>
                    <option value="1">1</option>
                    <option value="0.5">0.5</option>
                    <option value="0">0</option>
          				</select>
                  <textarea name="review" placeholder="comment this page" style="width:300px; height:15px"></textarea>
                  <input type="submit" value="submit" name="review_post">
                </form>
              </div>
              <div class="my_box_right">
                <table id="comment_page">
                  <tr><td class="star">★★★★★</td></tr>
                  <tr>
                    <td class="text">
                      this page is great!!! <br><br>
                      good page <br><br>
                      I don't like this page <br><br>
                      I am hungry <br><br>
                      Oh my God~ <br><br>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            -->

          </div>
        </div> <!--body-->

        <div class="middle">

          <div class="side_middle">
            <p class="left_title">Subtitle</p>
            <div class="my_box">
              <div class="mybox_text_middle">
                {{ subtitle|safe }}
              </div> <!--mybox_text_middle-->
            </div> <!--my_box-->
          </div><!--side_middle-->

          <div class="side_middle">
            <p class="left_title">Average Score
              <tr><td class="star">★★★★★</td></tr>
            </p>
            <div class="my_box">
              <div class="mybox_text_middle">

                <div class="side_right_box">
                  <div class="form">
                    <form>
                      <select name="number">
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0</option>
              				</select>
                      <textarea name="review" placeholder="comment this page" style="width:300px; height:15px"></textarea>
                      <input type="submit" value="submit" name="review_post">
                    </form>
                  </div> <!-- form -- >
                </div><!--side_rigth_box-->

              <table id="comment_page">
                  <tr>
                    <td class="star">★★★★★</td>
                    <td class="text">this page is great!!! </td>
                  </tr>
                  <tr>
                    <td class="star">★★★★★</td>
                    <td class="text">good page </td>
                  </tr>
                  <tr>
                    <td class="star">★★★★★</td>
                    <td class="text">I don't like this page </td>
                  </tr>
                  <tr>
                    <td class="star">★★★★★</td>
                    <td class="text">I am hungry </td>
                  </tr>
                  <tr>
                    <td class="star">★★★★★</td>
                    <td class="text">Oh my God~ </td>
                  </tr>
              </table>
            </div> <!--my_box_text_middle -->
          </div> <!---my_box-->
        </div> <!--side_middle-->
      </div><!--class middle-->
    </section>
  </body>
</html>
